# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# VSCode
.vscode/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*.pyo

# OS
.DS_Store
Thumbs.db
